<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/index.css" />
    <!-- 파비콘 -->
    <link rel="icon" href="./icon/pavi.ico" />
    <title>HYFT ˘◡˘</title>
  </head>
  <body>
    <div class="title">
      <div class="en-title">
        <span>H</span><span>O</span><span>W</span>
        <div class="dummy"></div>
        <span>Y</span><span>O</span><span>U</span>
        <div class="dummy br"></div>
        <span>F</span><span>E</span><span>E</span><span>L</span>
        <div class="dummy"></div>
        <span>T</span><span>O</span><span>D</span><span>A</span><span>Y</span><span>?</span>
      </div>
      <div class="kr-title">
        <span>오늘 당신의</span> <span>기분은 어떤가요?</span>
        <br />
        <div class="mouse-info"><span>캐릭터에 마우스를</span> <span class="end">올려보세요!</span></div>
        <div class="touch-info">
          <span>지금 당신의 감정을 터치해 보세요</span>
        </div>
      </div>
    </div>
    <div class="characters">
      <div class="box happyB">
        <img src="./SVG/HAPPY.svg" alt="happy" id="happy" />
        <div class="happyT text">신난다!!</div>
        <div class="shadow happyS"></div>
      </div>
      <div class="box boredB">
        <img src="./SVG/BORED.svg" alt="bored" id="bored" />
        <div class="boredT text">지루해..</div>
        <div class="shadow boredS"></div>
      </div>
      <div class="box sadB">
        <img src="./SVG/SAD.svg" alt="sad" id="sad" />
        <div class="sadT text">슬퍼ㅠㅠ</div>
        <div class="shadow sadS"></div>
      </div>
      <div class="box nervousB">
        <img src="./SVG/NERVOUS.svg" alt="nervous" id="nervous" />
        <div class="nervousT text">떨려</div>
        <div class="shadow nervousS"></div>
      </div>
      <div class="box angryB">
        <img src="./SVG/ANGRY.svg" alt="angry" id="angry" />
        <div class="angryT text">화난다!!</div>
        <div class="shadow angryS"></div>
      </div>
      <div class="box lonelyB">
        <img src="./SVG/LONELY.svg" alt="lonely" id="lonely" />
        <div class="lonelyT text">우울해...</div>
        <div class="shadow lonelyS"></div>
      </div>
    </div>
  </body>
  <script src="js/index.js"></script>
</html>
