<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="title">
      <div class="en-title">
        <span class="qq">H</span>
        <span>o</span>
        <span>w</span>
        <div class="dummy"></div>
        <span>Y</span>
        <span>o</span>
        <span>u</span>
        <div class="dummy"></div>
        <span>F</span>
        <span>e</span>
        <span>e</span>
        <span>l</span>
        <div class="dummy"></div>
        <span>T</span>
        <span>o</span>
        <span>d</span>
        <span>a</span>
        <span>y</span>
        <span>?</span>
        <br />
      </div>
      <div class="kr-title">
        <span>오</span>
        <span>늘</span>
        <div class="dummy"></div>
        <span>당</span>
        <span>신</span>
        <span>의</span>
        <div class="dummy"></div>
        <span>기</span>
        <span>분</span>
        <span>은</span>
        <div class="dummy"></div>
        <span>어</span>
        <span>떤</span>
        <span>가</span>
        <span>요</span>
        <span class="qm">?</span>
      </div>
    </div>
    <div class="characters">
      <img src="HAPPY.svg" alt="happy" id="happy" />
      <div id="happyText">신난다!!</div>
      <img src="BORED.svg" alt="bored" id="bored" />
      <div id="boredText">지루해..</div>
      <img src="SAD.svg" alt="sad" id="sad" />
      <div id="sadText">슬퍼ㅠㅠ</div>
      <img src="NERVOUS.svg" alt="nervous" id="nervous" />
      <div id="nervousText">떨려</div>
      <img src="ANGRY.svg" alt="angry" id="angry" />
      <div id="angryText">화난다!!</div>
      <img src="LONELY.svg" alt="lonely" id="lonely" />
      <div id="lonelyText">우울해...</div>
    </div>
  </body>
  <script src="/js/index.js"></script>
</html>
