<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/magazine.css" />
    <title>Document</title>
  </head>
  <body>
    <!--헤더 시작 -->
    <header>
      <div class="header-up">
        <p>고정 or 사라지게? 아무튼 텍스트를 쓰고 싶다</p>
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="header-container">
        <div class="header-left">
          <i class="fa-solid fa-bars"></i>
        </div>
        <p>How You Feel Today?</p>
        <div class="header-right">
          <i class="fa-solid fa-cart-shopping"></i>
          <a href="/login">
            <i class="fa-solid fa-user"></i>
          </a>
        </div>
      </div>
    </header>
    <div class="bar-menu hidden">
      <div class="bar-left">
        <div class="bar-img"></div>
      </div>
      <div class="bar-right">
        <a href="">Shop</a>
        <a href="">Community</a>
        <a href="">Brand Story</a>
        <a href="">Review</a>
        <a href="">Q & A</a>
        <div>
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search" />
        </div>
      </div>
    </div>
    <div class="cart-menu hidden">
      <div class="cart-left">
        <div class="cart-left-title">YOU MAY LIKE</div>
        <div class="cart-left-box">
          <div class="cart-left-photo"></div>
          <p>상품이름</p>
          <p>가격</p>
        </div>
        <div class="cart-left-box">
          <div class="cart-left-photo"></div>
          <p>상품이름</p>
          <p>가격</p>
        </div>
      </div>
      <div class="cart-right">
        <div class="cart-right-title">
          CART
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="cart-right-box"></div>
        <div class="cart-right-box"></div>
        <div class="cart-right-continue">
          <p><span>C</span>ONTINUE YOUR ORDER</p>
        </div>
      </div>
    </div>
    <!-- 헤더 끝 -->
    <div class="image-track" data-mouse-down-at="0" data-prev-percentage="0">
      <img class="image" src="image/행복2.jpg" draggable="false" />
      <img class="image" src="image/Bored.jpg" draggable="false" />
      <img class="image" src="image/sad1.jpg" draggable="false" />
      <img class="image" src="image/7.jpg" draggable="false" />
      <img class="image" src="image/화남1.jpg" draggable="false" />
      <img class="image" src="image/Lonely.jpg" draggable="false" />
    </div>
    <div class="aa hidden">
      <h1>#Happy</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/5.jpg)"></div>
          <div class="box-text">
            <h4>연인과 더 좋은 관계를 유지하기 위한 핵심 비결 5가지</h4>
            <p>매일 바쁜 일과로 연인과 좋은 시간을 보내지 못할 수 있지만, 오랫동안 행복한 관계를 위해서는 두 사람 모두가 노력해야 한다. 이 글에서 그 방법을 살펴보자!</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="aa hidden">
      <h1>#Bored</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>

        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/5.jpg)"></div>
          <div class="box-text">
            <h4>연인과 더 좋은 관계를 유지하기 위한 핵심 비결 5가지</h4>
            <p>매일 바쁜 일과로 연인과 좋은 시간을 보내지 못할 수 있지만, 오랫동안 행복한 관계를 위해서는 두 사람 모두가 노력해야 한다. 이 글에서 그 방법을 살펴보자!</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="aa hidden">
      <h1>#Sad</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/5.jpg)"></div>
          <div class="box-text">
            <h4>연인과 더 좋은 관계를 유지하기 위한 핵심 비결 5가지</h4>
            <p>매일 바쁜 일과로 연인과 좋은 시간을 보내지 못할 수 있지만, 오랫동안 행복한 관계를 위해서는 두 사람 모두가 노력해야 한다. 이 글에서 그 방법을 살펴보자!</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="aa hidden">
      <h1>#Nervous</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/5.jpg)"></div>
          <div class="box-text">
            <h4>연인과 더 좋은 관계를 유지하기 위한 핵심 비결 5가지</h4>
            <p>매일 바쁜 일과로 연인과 좋은 시간을 보내지 못할 수 있지만, 오랫동안 행복한 관계를 위해서는 두 사람 모두가 노력해야 한다. 이 글에서 그 방법을 살펴보자!</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="aa hidden">
      <h1>#Angry</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/5.jpg)"></div>
          <div class="box-text">
            <h4>연인과 더 좋은 관계를 유지하기 위한 핵심 비결 5가지</h4>
            <p>매일 바쁜 일과로 연인과 좋은 시간을 보내지 못할 수 있지만, 오랫동안 행복한 관계를 위해서는 두 사람 모두가 노력해야 한다. 이 글에서 그 방법을 살펴보자!</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="aa hidden">
      <h1>#Lonely</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/5.jpg)"></div>
          <div class="box-text">
            <h4>연인과 더 좋은 관계를 유지하기 위한 핵심 비결 5가지</h4>
            <p>매일 바쁜 일과로 연인과 좋은 시간을 보내지 못할 수 있지만, 오랫동안 행복한 관계를 위해서는 두 사람 모두가 노력해야 한다. 이 글에서 그 방법을 살펴보자!</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png)"></div>
          <div class="box-text">
            <h4>주식이 올랐다면?</h4>
            <p>주식이 올라갈때는 어떻게 해야할까?</p>
            <p>
              그렇다면 도대체 언제 팔아야 할까. 그는 매도를 고려해야하는 시점을 두 가지로 정리한다. △투자 논거의 타당성이 떨어질 때 △잠재적인 수익을 제공할 가능성이 커 보이는 다른 투자 루트가 등장할
              때다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg)"></div>
          <div class="box-text">
            <h4>노력의 끝은 창대하리라!</h4>
            <p>오랜 고생과 인고의 세월 끝에 구박 받아오던 미운 오리새끼가 아름다운 백조가 되듯, 언젠가는 중요한 존재가 되리라는 믿음으로 참고 기다린 결실이 열매를 맺는 것이다.</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg)"></div>
          <div class="box-text">
            <h4>당신에게 성취감이 필요한 이유 5</h4>
            <p>
              우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
              비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg)"></div>
          <div class="box-text">
            <h4>시간은 금이다, 가족과 함께하는 시간은 더욱 그렇다</h4>
            <p>가정의 화목과 결속력은 가족이 함께하는 시간 속에서 돈독해진다.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/magazine.js"></script>
</html>
