<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/magazineDetail.css" />
    <title>Document</title>
  </head>
  <body>
    <!--헤더 시작 -->
    <header>
      <div class="header-up">
        <p>고정 or 사라지게? 아무튼 텍스트를 쓰고 싶다</p>
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="header-container">
        <div class="header-left">
          <i class="fa-solid fa-bars"></i>
        </div>
        <p>How You Feel Today?</p>
        <div class="header-right">
          <i class="fa-solid fa-cart-shopping"></i>
          <a href="/login">
            <i class="fa-solid fa-user"></i>
          </a>
        </div>
      </div>
    </header>
    <div class="bar-menu hidden">
      <div class="bar-left">
        <div class="bar-img"></div>
      </div>
      <div class="bar-right">
        <a href="">Shop</a>
        <a href="">Community</a>
        <a href="">Brand Story</a>
        <a href="">Review</a>
        <a href="">Q & A</a>
        <div>
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search" />
        </div>
      </div>
    </div>
    <div class="cart-menu hidden">
      <div class="cart-left">
        <div class="cart-left-title">YOU MAY LIKE</div>
        <div class="cart-left-box">
          <div class="cart-left-photo"></div>
          <p>상품이름</p>
          <p>가격</p>
        </div>
        <div class="cart-left-box">
          <div class="cart-left-photo"></div>
          <p>상품이름</p>
          <p>가격</p>
        </div>
      </div>
      <div class="cart-right">
        <div class="cart-right-title">
          CART
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="cart-right-box"></div>
        <div class="cart-right-box"></div>
        <div class="cart-right-continue">
          <p><span>C</span>ONTINUE YOUR ORDER</p>
        </div>
      </div>
    </div>
    <!-- 헤더 끝 -->

    <div class="container">
      <div class="sidebar">
        <h1>magazine</h1>
        <div class="link">
          <a href="">#Happy</a>
          <a href="">#Bored</a>
          <a href="">#Sad</a>
          <a href="">#Nervous</a>
          <a href="">#Angry</a>
          <a href="">#Lonely</a>
        </div>
      </div>
      <div class="main">
        <h1>글 제목</h1>
        <div class="main-photo" style="background: top/cover no-repeat url(image/3.jpg)"></div>
        <div class="main-word">
          <p>
            우리가 인생에서 원하는 것은 결국 '행복' 아닌가? 하지만 행복은 늘 '순간' 이기에 결국 행복의 절대 값 보다는 고통의 절대 값이 더 많은 것이 내가 깨달은 인생이란 것이다. 특히 행복과 성취는
            비례하는 데, 인간은 성취를 통해 행복을 느끼는 것 같다. 따라서 성취를 지향하는 것이 인간의 추구점이 된다는 것은 그리 놀라운 일은 아니다. 하지만 성취라는 것이 가진 주관성 때문에 누구는 방
            청소만 해도 성취감을 느끼는가 하면, 누구는 방 안에 먼지 하나만 나와도 불만이 생기고 불행을 스스로 가져온다. 이 부분에서 알 수 있는 점은 바로 성취는 개인의 '욕구'와 '기준'에 따라 '차이'가
            난다는 점인데, 따라서 '긍정적인 사람'이 더 많은 '성취감'을 느낄 수 있다는 것이다.
          </p>
          <p>당신에게 성취감이 필요한 이유 5</p>
          <p>
            1. 우리는 삶에서 결국 '원하는 것'과 '추구하는 것'을 바라보며 살아가는 데, 성취라는 것이 없다면 삶의 의욕도, 목적도, 이유도 결국 사라지기 때문이다. 특히 '작은 성취'를 추구하는 것이 일상에서
            보람을 느끼는 개인이 되는 좋은 방법이 된다.
          </p>
          <div class="main-box">
            <div class="box-photo" style="background: top/cover no-repeat url(image/2.jpeg)"></div>
            <div class="box-word">
              <br />
              <p>
                2. 특히 긍정적인 사람이 아니라면 성취가 가진 주관성에 의해 낮은 성취감을 느낄 가능성이 크다는 것이 내 생각이다. 따라서 내가 평소에 한숨을 푹 푹 쉬는 사람으로 변하지는 않았는지,
                긍정적인 단어 보다는 부정적인 단어를 평소에 자주 쓰지는 않는지 체크해보는 것이 좋다. 물론 거친 욕도 포함된다.
              </p>
            </div>
          </div>

          <p>
            3. 비교를 권하는 사회 속에서 비교를 하지 않음이 정말 어려운 일이지만 비교는 결국 성취감을 죽이는 핵심요소가 된다. 따라서 비교를 하려면 어제의 나와 오늘의 나를 비교하는 것이 옳고, 지금의
            나와 더 나아질 나를 비교하는 것이 좋다.
          </p>
          <p>
            4. 성공한 사람은 타인 보다 높은 성취감을 느낄 것이다. 따라서 개인이 성취감을 얻기 위해 추구하는 가치는 부와 명예, 학습과 연결 등 다양한 요소가 존재 할 수 있다. 자소서에 꼭 물어보는 것이
            언제 성취감을 느끼냐는 질문인데. 그냥 평범한 질문이 아니라. 사실 그 이면에는 개인이 어떤 상황이나 환경, 결과에서 성취감을 느끼는 지. 그리고 그것을 스스로 인지 하고 있는지를 묻는 질문인
            것이다.
          </p>
          <p>
            5. 당신에게 성취감이 필요한 이유는 당신은 그럴만한 충분한 가치와 자격이 있기 때문이다. 하지만 그것을 믿지 않고, 스스로를 자책하거나 미워하게 되면 어느 누구도 당신을 구해줄 수가 없다. 결국
            마인드의 도약이 있지 않으면 당신에게는 성취라는 존재도, 행복이라는 존재도 결국 멀어지기만 하는 것이다.
          </p>
          <p>
            따라서 오늘 부터 작은 성취를 위한 창의적인 계획을 세워보자. 블로그에 글을 써도 좋고. 좋은 음악을 발견해도 좋다. 내 감정을 조금 더 이해할 수 있는 시간을 보냈어도 좋고. 좋은 친구나 멘토와
            대화를 나눈 경험도 좋다. 결국 다양한 경험을 사는 것이 당신에게 더 많은 성취의 기회를 얻게 해줄 수 있는 것이다. 기억해보자. 작은 성취와 비교하지 않음을. 빠른 것이 느린 것 보다 더 나은 것이
            아님을 말이다.
          </p>
          <!-- Slider main container -->
        </div>
        <h2>지금 감정과 어울리는 제품</h2>
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="slide-photo" style="background: center/cover no-repeat url(img/a1-1.jpg)"></div>
              <div class="slide-word">
                <h4>제품명</h4>
                <p>가격</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-photo" style="background: center/cover no-repeat url(img/a1-1.jpg)"></div>
              <div class="slide-word">
                <h4>제품명</h4>
                <p>가격</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-photo" style="background: center/cover no-repeat url(img/a1-1.jpg)"></div>
              <div class="slide-word">
                <h4>제품명</h4>
                <p>가격</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-photo" style="background: center/cover no-repeat url(img/a1-1.jpg)"></div>
              <div class="slide-word">
                <h4>제품명</h4>
                <p>가격</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-photo" style="background: center/cover no-repeat url(img/a1-1.jpg)"></div>
              <div class="slide-word">
                <h4>제품명</h4>
                <p>가격</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slide-photo" style="background: center/cover no-repeat url(img/a1-1.jpg)"></div>
              <div class="slide-word">
                <h4>제품명</h4>
                <p>가격</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 푸터시작 -->
    <footer>
      <div class="footer-logo">
        <img src="./SVG/logo.svg" />
      </div>
      <div class="footer-word">
        <div class="footer-info">
          <p>studio@hyft.com</p>
          <br />
          <p>394, Jungang-daero, Jung-gu, Daegu, Republic of Korea</p>
          <p>+82 0507-1414-1018a</p>
        </div>
        <div class="footer-social">
          <p>Twitter</p>
          <p>Facebook</p>
          <p>Instagram</p>
          <p>Contact Us</p>
        </div>
      </div>
    </footer>
    <!-- 푸터끝 -->
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="js/magazineDetail.js"></script>
</html>
