<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/magazine.css" />
    <title>Document</title>
  </head>
  <body>
    <!--헤더 시작 -->
    <header>
      <div class="header-up">
        <p>고정 or 사라지게? 아무튼 텍스트를 쓰고 싶다</p>
        <i class="fa-solid fa-xmark"></i>
      </div>
      <div class="header-container">
        <div class="header-left">
          <i class="fa-solid fa-bars"></i>
        </div>
        <p>How You Feel Today?</p>
        <div class="header-right">
          <i class="fa-solid fa-cart-shopping"></i>
          <a href="/login">
            <i class="fa-solid fa-user"></i>
          </a>
        </div>
      </div>
    </header>
    <div class="bar-menu hidden">
      <div class="bar-left">
        <div class="bar-img"></div>
      </div>
      <div class="bar-right">
        <a href="">Shop</a>
        <a href="">Community</a>
        <a href="">Brand Story</a>
        <a href="">Review</a>
        <a href="">Q & A</a>
        <div>
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search" />
        </div>
      </div>
    </div>
    <div class="cart-menu hidden">
      <div class="cart-left">
        <div class="cart-left-title">YOU MAY LIKE</div>
        <div class="cart-left-box">
          <div class="cart-left-photo"></div>
          <p>상품이름</p>
          <p>가격</p>
        </div>
        <div class="cart-left-box">
          <div class="cart-left-photo"></div>
          <p>상품이름</p>
          <p>가격</p>
        </div>
      </div>
      <div class="cart-right">
        <div class="cart-right-title">
          CART
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="cart-right-box"></div>
        <div class="cart-right-box"></div>
        <div class="cart-right-continue">
          <p><span>C</span>ONTINUE YOUR ORDER</p>
        </div>
      </div>
    </div>
    <!-- 헤더 끝 -->
    <div class="image-track" data-mouse-down-at="0" data-prev-percentage="0">
      <img class="image" src="image/행복2.jpg" draggable="false" />
      <img class="image" src="image/Bored.jpg" draggable="false" />
      <img class="image" src="image/7.jpg" draggable="false" />
      <img class="image" src="image/sad1.jpg" draggable="false" />
      <img class="image" src="image/화남1.jpg" draggable="false" />
      <img class="image" src="image/Lonely.jpg" draggable="false" />
    </div>
    <div class="aa hidden">
      <h1>#Happy</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png);"></div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg);"></div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg);"></div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg);"></div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/5.jpg);"></div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/1.png);"></div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/2.jpeg);"></div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/3.jpg);"></div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo" style="background: center/cover no-repeat url(image/4.jpg);"></div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
      
      </div>
    </div>
    <div class="aa hidden">
      <h1>#Bored</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">6</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">7</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">8</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">9</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
      
      </div>
    </div>
    <div class="aa hidden">
      <h1>#Sad</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">6</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">7</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">8</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">9</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
      
      </div>
    </div>
    <div class="aa hidden">
      <h1>#Nervous</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">6</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">7</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">8</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">9</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
      
      </div>
    </div>
    <div class="aa hidden">
      <h1>#Angry</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">6</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">7</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">8</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">9</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
      
      </div>
    </div>
    <div class="aa hidden">
      <h1>#Lonely</h1>
      <div class="container">
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">사진</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">6</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">7</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">8</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
        <div class="box">
          <div class="box-photo">9</div>
          <div class="box-text">
            <h4>글 제목</h4>
            <p>글 내용</p>
          </div>
        </div>
      
      </div>
    </div>
  </body>
  <script src="js/magazine.js"></script>
</html>
