<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/signUp.css" />
    <!-- 파비콘 -->
    <link rel="icon" href="./icon/pavi.ico" />
    <title>HYFT ˘◡˘</title>
  </head>
  <body>
    <!-- 헤더시작 -->
    <header>
      <div class="header-container">
        <div class="header-left">
          <i class="fa-solid fa-bars"></i>
        </div>
        <p>How You Feel Today?</p>
        <div class="header-right">
          <i class="fa-solid fa-cart-shopping"></i>
          <a href="/login">
            <i class="fa-solid fa-user"></i>
          </a>
        </div>
      </div>
    </header>
    <div class="header-under">
      <ul class="header-under-ul">
        <li><a href="/product">shop</a></li>
        <li><a href="/board">Community</a></li>
        <li><a href="/magazine">magazine</a></li>
      </ul>
    </div>
    <div class="bar-menu hidden">
      <div class="bar-left">
        <div class="bar-img"></div>
      </div>
      <div class="bar-right">
        <a href="/product">Shop</a>
        <a href="/board">Community</a>
        <a href="/magazine">Magazine</a>
        <a href="#">Q & a</a>
        <a href="/login">Login</a>
        <div>
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search" />
        </div>
      </div>
    </div>
    <div class="cart-menu hidden">
      <div class="cart-left">
        <div class="cart-left-title">YOU MAY LIKE</div>
        <div class="cart-left-box">
          <div class="cart-left-photo1"></div>
          <p>소품 인테리어 큐브 캔들</p>
          <p>24,000원</p>
        </div>
        <div class="cart-left-box">
          <div class="cart-left-photo2"></div>
          <p>감성 무드등</p>
          <p>41,000원</p>
        </div>
      </div>
      <div class="cart-right">
        <div class="cart-right-title">
          CART
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="cart-right-box">
          <div class="right_box_img">
            <img src="img/item/happyItem10.png" alt="" />
          </div>
          <div class="right_box_text">
            <p>포근한 차렵이불</p>
            <p>38,000원</p>
          </div>
        </div>
        <div class="cart-right-box">
          <div class="right_box_img">
            <img src="img/item/recommendItem9.png" alt="" />
          </div>
          <div class="right_box_text">
            <p>크리스마스 포스터</p>
            <p>12,000원</p>
          </div>
        </div>
        <a href="/myPage">
          <div class="cart-right-continue">
            <p><span>C</span>ONTINUE YOUR ORDER</p>
          </div>
        </a>
      </div>
    </div>
    <!-- 헤더 끝 -->

    <!-- 로그인 시작 -->
    <div class="login-container">
      <h1 class="login-title">Sign Up</h1>
      <div class="login-inp">
        <form action="/signUp" method="POST">
          <label>
            <p>ID</p>
            <input type="text" name="id"/>
          </label>
          <label>
            <p>Name</p>
            <input type="text" name="name"/>
          </label>
          <label>
            <p>pass word</p>
            <input type="password" class="password pwA" name="pw"/>
            <i class="fa-solid fa-eye"></i>
            <i class="fa-solid fa-eye-slash hide"></i>
          </label>
          <label>
            <p>pass word confirm</p>
            <input type="password" class="password pwC" name="pwC"/>
          </label>
          <div class="login-btn-box">
            <button type="submit" class="login-btn">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
    <!-- 로그인 끝 -->
  </body>

  <script src="js/common.js"></script>
  <script src="js/signUp.js"></script>
</html>
