@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@font-face {
  font-family: "Somi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Somi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 837px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #f5f5f5;
    overflow: hidden;
  }
  .title {
    margin-top: 200px;
    text-align: center;
    color: #959389;
  }
  .en-title {
    font-size: 96px;
    font-family: "Pretendard-Regular";
    font-weight: bold;
  }
  .kr-title {
    font-family: "Pretendard-Regular";
    margin-top: 60px;
    font-weight: 600;
    color: #c9c7bb;
    letter-spacing: 3px;
    font-size: 36px;
  }
  .mouse-info {
    margin-top: 40px;
    height: 30px;
    animation-name: mouse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
  @keyframes mouse {
    0% {
      font-size: 22px;
    }
    50% {
      font-size: 24px;
    }
    100% {
      font-size: 22px;
    }
  }
  .touch-info {
    display: none;
  }
  .dummy {
    display: inline-block;
    width: 10px;
  }

  /* 나타나는 효과 */
  span {
    opacity: 0;
    display: inline-block;
  }
  @keyframes fade {
    to {
      opacity: 1;
    }
  }
  /* ----------------------------------------- */
  .characters {
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .box img {
    width: 130px;
    z-index: 1;
    position: absolute;
  }
  .box .shadow {
    width: 130px;
    height: 10px;
    background-color: rgba(204, 204, 204, 0.3);
    box-shadow: 0 0 5px 3px rgba(204, 204, 204, 0.2);
    border-radius: 100%;
    z-index: 0;
    position: absolute;
    animation-timing-function: linear;
    bottom: 0;
  }
  .text {
    display: none;
    text-align: center;
    font-family: "Pretendard";
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    z-index: 2;
    position: absolute;
  }
  .box {
    width: 150px;
    height: 200px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }
  /* -------------------------------------------------------------*/
  #happy {
    animation: happy both;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-timing-function: linear;
  }
  @keyframes happy {
    0% {
      left: -500px;
      transform: rotate(0);
      pointer-events: none;
    }
    100% {
      left: 10px;
      transform: rotate(360deg);
      pointer-events: none;
    }
  }
  @keyframes happyHover {
    0% {
      bottom: 0;
    }
    30% {
      bottom: 30%;
    }
    100% {
      bottom: 0;
    }
  }
  .happyS {
    animation: shadowHappy both;
    animation-duration: 2s;
    animation-delay: 3s;
  }
  @keyframes shadowHappy {
    0% {
      left: -500px;
      pointer-events: none;
    }
    100% {
      left: 10px;
      pointer-events: none;
    }
  }
  @keyframes shadowHappyHover {
    0% {
      transform: scaleX(1);
    }
    30% {
      transform: scaleX(1.3);
    }
    100% {
      transform: scaleX(1);
    }
  }
  /* -------------------------------------------------------*/
  #bored {
    animation: bored both;
    animation-duration: 5s;
    animation-timing-function: linear;
  }
  @keyframes bored {
    0% {
      transform: rotate(0deg);
      left: -530px;
      pointer-events: none;
    }
    25%,
    30% {
      transform: rotate(90deg);
      left: -400px;
    }
    50%,
    55% {
      transform: rotate(180deg);
      left: -270px;
    }
    75%,
    80% {
      transform: rotate(270deg);
      left: -140px;
    }
    100% {
      transform: rotate(360deg);
      left: 10px;
      pointer-events: none;
    }
  }
  @keyframes boredHover {
    0% {
      left: 10px;
    }
    25% {
      left: -20px;
    }
    50% {
      left: 10px;
    }
    75% {
      left: 40px;
    }
    100% {
      left: 10px;
    }
  }
  .boredS {
    animation: shadowBored both;
    animation-duration: 5s;
  }
  @keyframes shadowBored {
    0% {
      left: -530px;
      pointer-events: none;
    }
    25%,
    30% {
      left: -400px;
    }
    50%,
    55% {
      left: -270px;
    }
    75%,
    80% {
      left: -140px;
    }
    100% {
      left: 10px;
      pointer-events: none;
    }
  }
  @keyframes shadowBoredHover {
    0% {
      left: 10px;
    }
    25% {
      left: -20px;
    }
    50% {
      left: 10px;
    }
    75% {
      left: 40px;
    }
    100% {
      left: 10px;
    }
  }
  /* ----------------------------------------------------------*/
  #sad {
    animation: sad both;
    animation-duration: 5s;
    animation-timing-function: linear;
  }
  @keyframes sad {
    0% {
      left: -1000px;
      transform: rotate(0);
      pointer-events: none;
    }
    100% {
      left: 10px;
      transform: rotate(360deg);
      pointer-events: none;
    }
  }
  @keyframes sadHover {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(15deg);
    }
    50% {
      transform: rotate(0);
    }
    75% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  .sadS {
    animation: shadowSad both;
    animation-duration: 5s;
  }
  @keyframes shadowSad {
    0% {
      left: -1000px;
      pointer-events: none;
    }
    100% {
      left: 10px;
      pointer-events: none;
    }
  }
  /* -------------------------------------------------------------- */
  #nervous {
    animation: nervous both;
    animation-duration: 3s;
    animation-timing-function: linear;
  }
  @keyframes nervous {
    0% {
      left: 1000px;
      transform: rotate(0);
      pointer-events: none;
    }
    100% {
      left: 10px;
      transform: rotate(-360deg);
      pointer-events: none;
    }
  }
  @keyframes nervousHover {
    0% {
      left: 5px;
    }
    100% {
      left: 15px;
    }
  }
  .nervousS {
    animation: shadowNervous both;
    animation-duration: 3s;
  }
  @keyframes shadowNervous {
    0% {
      left: 1000px;
      pointer-events: none;
    }
    100% {
      left: 10px;
      pointer-events: none;
    }
  }
  @keyframes shadowNervousHover {
    0% {
      left: 5px;
    }
    100% {
      left: 15px;
    }
  }
  /* -------------------------------------------------------- */
  #angry {
    animation: angry both;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-timing-function: linear;
  }
  @keyframes angry {
    0% {
      left: 1000px;
      transform: rotate(0);
      pointer-events: none;
    }
    100% {
      left: 10px;
      transform: rotate(-720deg);
      pointer-events: none;
    }
  }
  @keyframes angryHover {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }
  .angryS {
    animation: shadowAngry both;
    animation-duration: 2s;
    animation-delay: 2s;
  }
  @keyframes shadowAngry {
    0% {
      left: 1000px;
      pointer-events: none;
    }
    100% {
      left: 10px;
      pointer-events: none;
    }
  }
  @keyframes shadowAngryHover {
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(1.5);
    }
    100% {
      transform: scaleX(1);
    }
  }
  /* -------------------------------------------------------- */
  #lonely {
    animation: lonely both;
    animation-duration: 5s;
    animation-timing-function: linear;
  }
  @keyframes lonely {
    0% {
      left: 1000px;
      transform: rotate(0);
      pointer-events: none;
    }
    100% {
      left: 10px;
      transform: rotate(-360deg);
      pointer-events: none;
    }
  }
  @keyframes lonelyHover {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.1);
    }
  }
  .lonelyS {
    animation: shadowLonely both;
    animation-duration: 5s;
  }
  @keyframes shadowLonely {
    0% {
      left: 1000px;
      pointer-events: none;
    }
    100% {
      left: 10px;
      pointer-events: none;
    }
  }
  @keyframes shadowLonelyHover {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0.1);
    }
  }
}
/* ----------------------------------------------------- */
@media (max-width: 1400px) {
  .en-title {
    font-size: 7vw;
  }
  .kr-title {
    font-size: 2.5vw;
  }
  .mouse-info {
    font-size: 1.5vw;
  }
}
/* ----------------------------------------- */
@media (max-width: 834px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #f5f5f5;
  }
  .title {
    margin-top: 50px;
    text-align: center;
    color: #959389;
  }
  .en-title {
    font-size: 50px;
    font-family: "Pretendard-Regular";
    font-weight: bold;
  }
  .kr-title {
    font-size: 24px;
    font-family: "Pretendard-Regular";
    margin-top: 60px;
    font-weight: 600;
    color: #c9c7bb;
    letter-spacing: 3px;
  }
  .mouse-info {
    display: none;
  }
  .touch-info {
    margin-top: 40px;
    height: 30px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: touch;
  }
  @keyframes touch {
    0% {
      font-size: 20px;
    }
    50% {
      font-size: 22px;
    }
    100% {
      font-size: 20px;
    }
  }
  .dummy {
    display: inline-block;
  }
  /* 나타나는 효과 */
  span {
    opacity: 0;
    display: inline-block;
  }
  @keyframes fade {
    to {
      opacity: 1;
    }
  }
  .characters {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .characters img {
    width: 90px;
  }
  .shadow {
    display: none;
  }
  .text {
    margin-top: 10px;
    display: block;
    width: 80px;
    text-align: center;
    font-family: "Pretendard-Regular";
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    font-size: 16px;
    z-index: 2;
  }
  .box {
    width: 90px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    flex-direction: column;
  }
}
/* ------------------------------ */
@media (max-width: 414px) {
  .br {
    display: block;
  }
  .characters {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .box {
    height: 180px;
  }
}
