@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  /* 드래그 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Pretendard-Regular';
}

a {
  list-style: none;
  color: #000;
}

/* 
button {
    cursor: pointer;
} */

.thumbnail > div,
img {
  cursor: pointer;
}

.cursor {
  width: 3rem;
  height: 3rem;
  background: url('../SVG/LONELY.svg');
  position: absolute;
  z-index: 1000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: transform;
  transform-origin: 100% 100%;
  backdrop-filter: sepia(20%);
  background-size: cover;
  background-color: none;
  border-radius: 100%;
}

/* .cursor:first-child {

    box-shadow: 10px 0px rgba(197, 194, 194, 0.25);
} */

/* 프리텐다드 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'KIMM_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MonoplexKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

h2 {
  font-family: 'Pretendard-Regular';
  font-size: 1.8vw;
  font-weight: 900;
  text-align: start;
  line-height: 1.4vw;
}

h3 {
  font-family: 'MonoplexKR-Regular';
  font-size: 1.2vw;
  text-align: start;
  line-height: 3vw;
}

h4 {
  font-family: 'Pretendard-Regular';
  font-size: 1.2vw;
  text-align: start;
  line-height: 2.5vw;
}

span {
  font-family: 'Pretendard-Regular';
  /* text-align: left; */
  line-height: 1.6vw;
  font-size: 1vw;
}

p {
  font-family: 'Pretendard-Regular';

  font-size: 1vw;
}

.selected {
  transition: 0.1s ease-out;
  transform: scale(1.1);
  color: #000;
}
/* .ff:hover {
  transition: all 0.3s ease-in-out;
} */
.lonleyImt {
  width: 1.2vw;
  height: 1.2vw;
}

/* 컨테이너 */
/* 감정리스트 */

.cnt1-2,
.cnt1-3 {
  padding: 2vw 18vw;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.cnt1-3 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.cnt1-2 > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}
.cnt1-2 div p {
  align-items: center;
  text-align: end;
  line-height: 2vw;
  cursor: pointer;
  color: #c9c7bb;
}
.cnt1-3 > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}
.cnt1-3 div p {
  align-items: center;
  text-align: end;
  line-height: 2vw;
  cursor: pointer;
  color: #c9c7bb;
}
.cnt1-1 {
  width: 100%;
  height: max-content;
  padding: 2vw 22vw;
  padding-top: 120px;
  display: flex;
}

.feelList li {
  font-size: 2.6vw;
  color: #e9ddd4;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  font-style: italic;
}
.feelList li:hover {
  color: black;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.selected {
  color: #000;
}

/*  New Arrival */

.newArr {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  left: 9vw;
  align-items: center;
}

.newArr > a {
  background: url(../img/cat1-5.jpg) no-repeat;
  position: absolute;
  background-size: cover;
  align-self: center;
  width: 16vw;
  height: 16vw;
  overflow: hidden;
}

.newArr > a:hover {
  background: url(../img/hovers/hover-4.png);
  align-self: center;
  background-size: cover;
  width: 16vw;
  height: 16vw;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
.newArr > .description {
  width: 16vw;
  height: 16vw;
}
.newArr > .description > div {
  left: 14vw;
  position: absolute;
  text-align: end;
  justify-self: start;
  border: 1px solid #ccc;
  border-left: none;
  width: 16vw;
  height: 16vw;
  padding: 1vw;
  line-height: 2vw;
}
.newArr > .description > div h2 {
  line-height: 2.6vw;
  font-size: 1.7vw;
  /* margin-right: 2vw; */
  text-align: end;
  font-style: italic;
}
.newSpan2 {
  display: none;
}
.moreBtn {
  cursor: pointer;
  bottom: 2vw;
  right: 2vw;
  position: absolute;
  color: #c9c7bb;
  text-align: end;
  display: flex;
  flex-direction: column;
}
.moreBtn:hover {
  color: #000;
}
.theBtn:hover {
  color: #000;
}

.bestList li {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.bestList li img {
  display: flex;
  width: 15vw;
  height: 16vw;
  overflow: hidden;
  margin-top: 0.6vw;
}

.bestList .imti {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  padding: 8px;
}

.bestList {
  width: 100%;
  border-top: 1px solid black;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23%, auto));
  gap: 0.6vw;
  align-items: center;
}

.productList {
  width: 100%;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23%, auto));
  gap: 0.6vw;
  align-self: center;
  justify-content: space-evenly;
}

.productList li {
  justify-content: space-evenly;
  display: flex;
  cursor: pointer;
  overflow: hidden;
}

.productList li img {
  display: flex;
  width: 15vw;
  height: 16vw;
  overflow: hidden;
  margin-top: 0.6vw;
}

.productList .imti {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* align-items: flex-end; */
  justify-content: end;
  padding: 8px;
  /* margin-right: 6px;
  width: 18vw;
  height: 4vw; */
}

.imti li {
  width: 2rem;
  height: 2rem;
}

.imti > li:first-child {
  color: red;
}

.imti > li:nth-child(2) {
  color: black;
}

/* Top 탑 버튼 & 감정 버튼 imoticon 픽스드 */
#btnScrollToTop {
  overflow: hidden;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #524b4b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrollToImotion img {
  overflow: hidden;
  width: 40px;
  height: 40px;
  padding: 1px;
  background: none;
  box-sizing: border-box;
}

#btnScroll > div:first-child {
  background-color: #fff;
  position: fixed;
  right: 20px;
  bottom: 90px;
  width: 50px;
  height: 300px;
  border-radius: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#btnScroll:active {
  background: rgba(233, 229, 229, 0.76);
}

#btnScrollToTop:active {
  background: #756e6f;
}

/* 태블릿 사이즈 */

@media screen and (max-width: 834px) {
  .cursor {
    display: none;
  }
  .best_text span {
    text-align: left;
  }
  .list_text span {
    text-align: left;
  }

  .cnt1-2,
  .cnt1-3 {
    padding: 6vw 12vw;
  }
  .cnt1-2 {
    padding-top: 8vw;
  }
  .cnt1-1 {
    height: 40vw;
    padding: 10vw;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
  }

  .feelList {
    justify-content: center;
    width: 100%;
    padding: 0;
    display: flex;
    position: sticky;
    top: 100px;
    flex-direction: row;
    background-color: #e9ddd486;
    position: absolute;
  }

  .feelList li {
    justify-content: space-evenly;
    text-align: center;
    padding: 1vw;
    color: #c2b1a5;
    font-size: 2.4vw;
    align-items: center;
  }

  .newArr {
    left: -9vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    top: 80px;
  }
  .newArr > a {
    background: url(../img/cat1-5.jpg) no-repeat;
    background-size: cover;
    align-self: center;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
  }
  .newArr a:hover {
    width: 20vw;
    height: 20vw;
  }
  .newArr > .description,
  .newArr > .description > div {
    width: 20vw;
    height: 20vw;
  }

  .detail_animation {
    animation: none;
  }

  .bestList {
    border-top: 1px solid black;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .bestList li img {
    width: 24vw;
    height: 26vw;
  }
  .bestList .imti,
  .productList .imti {
    padding: 6px;
  }
  .bestList > li:nth-child(4) {
    display: none;
  }
  .best_text {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
  }
  .list_text {
    margin-left: 6px;

    display: flex;
    flex-direction: column;
  }

  .imti li i {
    width: 2vw;
    height: 2vw;
  }
  .imti li {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    /* width: 1vw;
    height: 1vw; */
  }

  .thumbnail > img {
    margin: 0;
    width: 24vw;
    height: 24vw;
    overflow: hidden;
    justify-self: center;
    align-self: center;
  }

  .productList {
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .productList li img {
    width: 24vw;
    height: 26vw;
  }

  .productList > li:nth-child(4),
  li:nth-child(8) {
    display: none;
  }

  #btnScrollToTop {
    right: 6vw;
    bottom: 2vw;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background: #524b4b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 5vw;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
  }

  #btnScrollToImotion img {
    overflow: hidden;
    width: 5vw;
    height: 5vw;
    margin: 0.2vw;
    background: none;
    box-sizing: border-box;
  }

  #btnScroll > div:first-child {
    background-color: #fff;
    position: fixed;
    right: 6vw;
    bottom: 9vw;
    width: 6vw;
    height: 38vw;
  }
}
@media (max-width: 750px) {
  /* .cnt1-1 {
    padding-top: 90px;
  }
  .cnt1-2 {
    padding-top: 60px;
  } */
  .newSpan {
    display: none;
  }
  .newSpan2 {
    display: block;
  }
}
@media (max-width: 680px) {
  .cnt1-1 {
    padding-top: 110px;
  }
  .cnt1-2 {
    margin: 0 0vw;
    padding-top: 90px;
  }
}
@media (max-width: 499px) {
  .cnt1-1 {
    margin-bottom: 14vw;
  }
  .cnt1-2 {
    margin: 0 7vw;
    margin-top: 10vw;
  }
  .cnt1-3 {
    margin: 0 7vw;
  }

  .newArr {
    top: 22vw;
    left: -14vw;
  }
  .newArr > a {
    width: 28vw;
    height: 28vw;
  }
  .newArr a:hover {
    width: 28vw;
    height: 28vw;
  }
  .newArr > .description,
  .newArr > .description > div {
    left: 28vw;
    width: 30vw;
    height: 28vw;
  }
  .newArr > .description > div h2 {
    padding: 5px;
    font-size: 15px;
  }
  .bestList {
    border-top: 1px solid black;
    justify-content: space-evenly;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  .bestList li img {
    width: 28vw;
    height: 28vw;
    margin-top: 10px;
  }
  .cnt1-2 h2,
  .cnt1-3 h2 {
    line-height: 22px;
    font-size: 15px;
  }
  .cnt1-2 div p,
  .cnt1-3 div p {
    line-height: 22px;
    font-size: 13px;
  }
  .best_text span,
  .best_text h4 {
    line-height: 3.4vw;
  }
  .productList {
    border-top: 1px solid black;
    justify-content: space-evenly;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .productList li {
    padding-bottom: 20px;
  }
  .productList li img {
    width: 28vw;
    height: 28vw;
    margin-top: 10px;
  }

  .mdescription > span {
    line-height: 2vh;
  }
  .newSpan2 {
    display: none;
  }
  .newSpan {
    padding: 2px;
    line-height: 10px;
    display: block;
  }
  .bestList > li:nth-child(3) {
    display: none;
  }
  .list_text span,
  .list_text h4 {
    line-height: 3.4vw;
  }
  .imti li {
    padding: 10px;
    margin-bottom: 0px;
  }
}
/* 모바일 사이즈 */
@media screen and (max-width: 414px) {
  .cursor {
    display: none;
  }
  .best_text span {
    text-align: left;
  }
  .list_text span {
    text-align: left;
  }
  .imti li i {
    font-size: 16px;
    /* width: 4px;
    height: 4px; */
  }
  .bestList .imti,
  .productList .imti {
    padding: 2px;
  }
  .cnt1-2,
  .cnt1-3 {
    padding: 0 40px;
    padding-top: 40px;
  }
  .cnt1-2 {
    padding-top: 100px;
  }
  .cnt1-2 > h2 {
    text-align: center;
  }

  .cnt1-3 > h2 {
    text-align: center;
  }

  .cnt1-1 {
    justify-content: center;
  }

  .newArr > a {
    width: 28vw;
    height: 28vw;
  }

  .newArr > a:hover {
    width: 28vw;
    height: 28vw;
  }
  .newArr > .description {
    position: relative;
  }
  .newArr > .description,
  .newArr > .description > div {
    width: 32vw;
    height: 28vw;
    left: 14vw;
  }

  .newArr > .description > div h2 {
    padding: 5px;
    font-size: 14px;
  }
  .bestList {
    border-top: 1px solid black;
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .mdescription > span {
    line-height: 20px;
  }
  .newSpan2 {
    display: none;
  }
  .newSpan {
    padding: 2px;
    line-height: 10px;
    display: block;
  }
}
