
body {
  background-color: #f6f3ee;
  width: 100%;
  height: 100%;
}
.login-container {
  padding: 80px 30%;
}
.login-title {
  margin: 70px 0;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.login-inp {
  width: 100%;
}
.login-inp label {
  display: block;
  margin-top: 50px;
  position: relative;
}
.login-inp label p {
  margin: 10px 0;
  color: #555;
}
.login-inp label input {
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  width: 100%;
  padding: 5px;
  font-size: 20px;
}
.login-remember {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 20px;
  position: relative;
}
.login-remember span {
  margin-left: 10px;
}
.gosignup {
  color: black;
  text-decoration: none;
  position: absolute;
  right: 0;
  font-size: 18px;
}
.login-btn-box {
  width: 100%;
  margin: 0 auto;
}
.login-btn {
  margin-top: 50px;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: 0;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.login-social {
  margin-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login-social button {
  width: 300px;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid black;
  outline: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
}
.fa-eye,
.fa-eye-slash {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.login-container .login-inp .hide {
  display: none;
}

/* 미디어 쿼리 부분 */
@media (max-width: 834px) {
  .header-right a {
    display: none;
  }
  body {
    background-color: #f6f3ee;
    width: 100%;
    height: 100%;
  }
  .login-container {
    padding: 80px 5%;
  }
  .login-title {
    margin: 50px 0 70px 0;
    font-weight: bold;
    font-size: 42px;
    text-align: left;
  }
  .login-inp {
    width: 100%;
  }
  .login-inp label {
    display: block;
    margin-top: 50px;
  }
  .login-inp label p {
    margin: 10px 0;
    color: #555;
  }
  .login-inp label input {
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 5px;
    font-size: 20px;
  }
  .login-remember {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 20px;
  }
  .login-remember span {
    margin-left: 10px;
  }
  .login-btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-btn {
    margin-top: 30px;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: 0;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  .login-social {
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .login-social button {
    width: 200px;
    padding: 12px;
    border-radius: 50px;
    border: 1px solid black;
    outline: 0;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
  }
}

@media (max-width: 414px) {
  header .login-right {
    display: none;
  }
}
