@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

/* 헤더 */
body .hidden {
  display: none;
}
header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  width: 100%;
  height: 20px;
  background-color: white;
}
.header-up .fa-xmark {
  position: absolute;
  right: 2%;
}
.header-container {
  background-color: #f6f3ee;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
}
.header-container .header-left {
  position: absolute;
  left: 3%;
  font-size: 20px;
}
.header-container p {
  font-family: "Homemade Apple";
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .header-right {
  position: absolute;
  right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.header-container .header-right a {
  margin-left: 30px;
  color: black;
  text-decoration: none;
}
@media (max-width: 414px) {
  .fa-cart-shopping {
    display: none;
  }
}
@media (max-width: 836px) {
  .header-up {
    display: none;
  }
}
/* 헤더끝 */

/* 햄버거 메뉴 시작 */
.menu-on {
  animation-name: slideIn;
  animation-duration: 1.5s;
}
@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.menu-off {
  animation-name: slideOut;
  animation-duration: 1.5s;
}
@keyframes slideOut {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@media (max-width: 836px) {
  .bar-menu {
    width: 100%;
    height: 100vh;
    background-color: #f2f1ee;
    position: fixed;
    top: 100px;
    z-index: 100;
  }
  .bar-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30px;
    margin-left: 10%;
  }
  .bar-right a {
    text-decoration: none;
    color: black;
    font-family: "Cormorant SC";
    font-size: 46px;
  }
  .bar-right input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid black;
    margin-top: 50px;
    width: 70%;
    padding: 5px;
    padding-left: 40px;
    font-size: 20px;
    background-color: transparent;
  }
  .bar-right input::placeholder {
    color: black;
    font-family: "Cormorant SC";
    font-size: 24px;
    text-align: center;
  }
  .bar-right div {
    position: relative;
  }
  .bar-right div i {
    position: absolute;
    bottom: 5px;
    font-size: 20px;
  }
  .bar-left {
    position: absolute;
    top: 450px;
    right: 10%;
    width: 100%;
    height: 80vw;
    display: flex;
    justify-content: flex-end;
  }
  .bar-left .bar-img {
    background-color: white;
    width: 70%;
    height: 50%;
  }
}

@media (min-width: 837px) {
  .bar-menu {
    width: 100%;
    height: 100vh;
    background-color: #f2f1ee;
    padding-top: 50px;
    display: flex;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 100;
  }
  .bar-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
  .bar-left .bar-img {
    background-color: white;
    width: 400px;
    height: 520px;
    margin-top: 80px;
    margin-right: 10%;
  }
  .bar-right {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 5%;
  }
  .bar-right a {
    text-decoration: none;
    color: black;
    font-family: "Cormorant SC";
    font-size: 60px;
  }
  .bar-right input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid black;
    margin-top: 110px;
    width: 100%;
    padding: 5px;
    padding-left: 40px;
    font-size: 20px;
    background-color: transparent;
  }
  .bar-right input::placeholder {
    color: black;
    font-family: "Cormorant SC";
    font-size: 30px;
    text-align: center;
  }
  .bar-right div {
    position: relative;
  }
  .bar-right div i {
    position: absolute;
    bottom: 5px;
    font-size: 25px;
  }
}
/* 햄버거 메뉴 끝 */

/* 장바구니메뉴 시작 */
.cart-on {
  animation-name: cartIn;
  animation-duration: 1.5s;
}
@keyframes cartIn {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
.cart-off {
  animation-name: cartOut;
  animation-duration: 1.5s;
}
@keyframes cartOut {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}
@media (max-width: 836px) {
  .cart-menu {
    width: 100%;
    height: 100vh;
    background-color: #f2f1ee;
    position: fixed;
    display: flex;
    padding: 50px 100px 0 50px;
    z-index: 100;
  }
  .cart-left {
    display: none;
  }
  .cart-right {
    padding-left: 50px;
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cart-right-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #c9c7bb;
    padding-bottom: 10px;
    font-family: "Cormorant SC";
    font-weight: bold;
    position: relative;
  }
  .cart-right-title i {
    position: absolute;
    right: 0;
    font-size: 22px;
  }
  .cart-right-box {
    width: 100%;
    height: 280px;
    background-color: white;
    margin-top: 50px;
  }
  .cart-right-continue {
    background-color: #c9c7bb;
    width: 350px;
    height: 50px;
    margin-top: 50px;
    padding: 4px;
  }
  .cart-right-continue > p {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: "Cormorant SC";
    font-weight: bold;
  }
  .cart-right-continue > p > span {
    font-family: "Cormorant SC";
    font-weight: bold;
    font-size: 32px;
  }
}

@media (min-width: 837px) {
  .cart-menu {
    width: 1200px;
    height: 100vh;
    background-color: #f2f1ee;
    position: fixed;
    right: 0;
    display: flex;
    padding: 50px 100px 0 50px;
    z-index: 100;
  }
  .cart-left {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cart-left-title {
    padding: 0 20px 10px;
    font-size: 20px;
    border-bottom: 1px solid #c9c7bb;
    font-family: "Cormorant SC";
    font-weight: bold;
  }
  .cart-left-box {
    margin-top: 50px;
  }
  .cart-left-box:last-child {
    margin-top: 72px;
  }
  .cart-left-box p {
    text-align: center;
    margin-top: 10px;
  }
  .cart-left-photo {
    width: 200px;
    height: 200px;
    background-color: white;
  }
  .cart-right {
    padding-left: 50px;
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cart-right-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #c9c7bb;
    padding-bottom: 10px;
    font-family: "Cormorant SC";
    font-weight: bold;
    position: relative;
  }
  .cart-right-title i {
    position: absolute;
    right: 0;
    font-size: 22px;
  }
  .cart-right-box {
    width: 100%;
    height: 280px;
    background-color: white;
    margin-top: 50px;
  }
  .cart-right-continue {
    background-color: #c9c7bb;
    width: 350px;
    height: 50px;
    margin-top: 50px;
    padding: 4px;
  }
  .cart-right-continue > p {
    text-align: center;
    color: white;
    font-size: 24px;
    font-family: "Cormorant SC";
    font-weight: bold;
  }
  .cart-right-continue > p > span {
    font-family: "Cormorant SC";
    font-weight: bold;
    font-size: 32px;
  }
}
/* 장바구니메뉴 끝 */

.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  width: 100%;
  height: auto;
  padding: 120px 10%;
  background-color: aqua;
}
.sidebar {
  background-color: violet;
  height: 100%;
  padding: 10px;
}
.link {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  position: sticky;
  top: 250px;
}
.sidebar > h1 {
  text-align: center;
  margin: 50px auto;
  position: sticky;
  top: 170px;
}
.link a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  margin: 10px;
}
.main {
  background-color: yellowgreen;
  height: 100%;
  padding: 50px 15%;
}
.main h1 {
  margin-bottom: 50px;
}
.main-photo {
  width: 100%;
  height: 20vw;
  background-color: tomato;
}
.main-word {
  font-size: 18px;
  margin: 50px 0;
}
.main-word > p {
  margin-top: 50px;
}
.main-box {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  background-color: bisque;
  display: flex;
}
.box-photo {
  width: 50%;
  height: 100%;
  background-color: steelblue;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-word {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}
.swiper {
  margin-top: 50px;
  width: 45vw;
  height: 15vw;
}
.swiper-slide {
  background-color: black;
}

@media (max-width: 836px) {
  .container {
    display: block;
    padding: 120px 0;
  }
  .sidebar {
    height: auto;
    position: fixed;
    top: 100px;
    width: 100%;
  }
  .link {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
  .sidebar > h1 {
    display: none;
  }
  .link a {
    font-size: 3.5vw;
    margin: 5px;
  }
  .main {
    padding: 100px 10% 50px;
  }
  .main-photo {
    width: 100%;
    height: 45vw;
    background-color: tomato;
  }
  .swiper {
    margin-top: 50px;
    width: 80vw;
    height: 25vw;
  }
}

/* 푸터시작 */
footer {
  background-color: #f6f3ee;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-logo {
  margin-right: 20%;
}
.footer-logo img {
  width: 200px;
}
.footer-word {
  font-size: 16px;
}
.footer-social {
  margin-top: 50px;
  font-size: 16px;
  display: flex;
}
.footer-social p:not(:first-child) {
  padding: 0 20px;
}
.footer-social p:first-child {
  padding-right: 20px;
}
.footer-social p:not(:last-child) {
  border-right: 1px solid black;
}
@media (max-width: 834px) {
  footer {
    height: 200px;
  }
  .footer-logo {
    margin-right: 10%;
  }
  .footer-logo img {
    width: 150px;
  }
  .footer-word {
    font-size: 14px;
  }
  .footer-social {
    margin-top: 30px;
    font-size: 14px;
  }
}
@media (max-width: 414px) {
  footer {
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
  }
  .footer-logo {
    margin: 0;
  }
  .footer-word {
    font-size: 12px;
  }
  .footer-social {
    margin-top: 20px;
    font-size: 12px;
  }
}
/* 푸터끝 */
