@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}
body {
  height: auto;
  width: 100%;
  background-color: #f2f1ee;
  margin: 0;
  overflow: hidden;
  user-select: none;
}
.image-track > .image {
  width: 350px;
  height: 500px;
  object-fit: cover;
  object-position: 100% center;
}
.image-track {
  display: flex;
  gap: 40px;
  position: fixed;
  left: 50%;
  top: 55%;
  transform: translate(-20%, -50%);
  transition: all 2s;
  z-index: 3;
}

.aa {
  height: auto;
  width: 100%;
  padding: 150px 10% 300px;
}
.aa h1 {
  margin: 20px;
}
.container {
  height: auto;
  width: 100%;
  display: flex;
}
.box {
  background-color: #fbf9f7;
  width: 400px;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 20px;
  cursor: pointer;
}
.box p {
  margin-top: 10px;
}
.box-photo {
  width: 100%;
  height: 400px;
  background-color: aqua;
}
.box-text {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.box-text h4 {
  margin-bottom: 10px;
}
.border {
  border: 2px solid black;
  filter: brightness(1) !important;
}

@media (max-width: 836px) {
  .image-track > .image {
    width: 245px;
    height: 350px;
  }
  .image-track {
    top: 400px;
  }
  .image-track2 {
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    top: 700px !important;
    flex-direction: row !important;
  }
  .box {
    width: 280px;
    height: 420px;
  }
  .box-photo {
    width: 100%;
    height: 280px;
  }
  .box-text {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .box-text h4 {
    margin-bottom: 10px;
  }
  .border {
    border: 2px solid black;
    filter: brightness(1) !important;
  }
}
